body {
    background: black;
    touch-action: manipulation;
}

#keyboard {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.keyboard .row {
    display: flex;
    flex-direction: row;
}

.keyboard.rectangular .key.hint,
#prompt .hint {
    box-shadow: inset 0 0 5px #fff, /* inner white */
    inset 2px 0 8px #f0f, /* inner left magenta short */
    inset -2px 0 8px #0ff, /* inner right cyan short */
    inset 2px 0 30px #f0f, /* inner left magenta broad */
    inset -2px 0 30px #0ff, /* inner right cyan broad */
    0 0 5px #fff, /* outer white */
    -1px 0 8px #f0f, /* outer left magenta */
    1px 0 8px #0ff/* outer right cyan */
}

.keyboard.rectangular {
    width: 1000px;
}

.keyboard.hexagonal {
    width: 750px;
    margin-top: 20px;
}

.keyboard.hexagonal .key.hint {
    box-shadow: inset 0 0 5px #fff, /* inner white */
    inset 4px 0 16px #f0f, /* inner left magenta short */
    inset -4px 0 16px #0ff, /* inner right cyan short */
    inset 4px 0 40px #f0f, /* inner left magenta broad */
    inset -4px 0 40px #0ff, /* inner right cyan broad */
    0 0 10px #fff, /* outer white */
    -2px 0 16px #f0f, /* outer left magenta */
    2px 0 16px #0ff/* outer right cyan */
}

.keyboard .key,
.keyboard .spacer {
    padding-top: 20px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    touch-action: manipulation;
}

.key[data-key=' '] {
    font-size: 40px;
    line-height: 70px;
}

.keyboard.rectangular .key[data-key=' '] {
    width: 320px;
}

.keyboard.rectangular .row:nth-child(even) {
    padding-left: 45px;
}

.keyboard.rectangular .key,
.keyboard.rectangular .spacer {
    padding-top: 10px;
    min-width: 70px;
    width: 70px;
    height: 70px;
    margin: 8px;
}

.keyboard .key {
    background-color: #e0e0ff;
}

.keyboard.hexagonal .row:nth-child(even) {
    padding-left: 50px;
}

.keyboard.hexagonal .row {
    margin-top: -20px;
}

.keyboard.hexagonal .key,
.keyboard.hexagonal .spacer {
    width: 90px;
    height: 90px;
    margin: 5px;
}

.keyboard.hexagonal .key {
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.key:active {
    -webkit-text-stroke: 2px #88f;
    text-shadow: 0px -2px 8px #00f;
    color: #dde;
    background: radial-gradient(#ddf, #004);
}


/*
--------------------------------------------------------
*/

#prompt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: #004;
    color: #fed;
    padding: 15px;
}

#prompt .done {
    color: #228;
}

#entry {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

#greeting,
#closing,
#instructions {
    background-color: #444;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: none;
}

#greeting,
#greeting td,
#closing,
#closing td,
#instructions {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.warning {
    color: #f88;
    font-style: italic;
}

table.survey>tbody>tr>td:nth-child(1) {
    width: 33%
}

table.survey>tbody>tr:nth-child(odd) {
    background-color: #333;
}

table.survey>tbody>tr>td {
    padding: 10px;
}

.center {
    text-align: center;
}

.scale tr:nth-child(1) td {
    padding-left: 7px;
}

.scale td {
    width: 50px;
}

.scale .center {
    padding-left: 20px;
}

.scale .right {
    padding-left: 40px;
}

input[type='button'] {
    font-size: 24px;
    padding: 5px 20px;
    background-color: #080;
    color: #fe8;
    border-radius: 5px;
}